<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "www.kids2prosports.com"
    versionCode="11"
    version   = "1.0.0">

  <!-- versionCode is optional and Android only -->

  <name>Kids2ProSports</name>

  <description>
    Kids2ProSports is the world’s premier multicultural Global Sports Network and Legacy Search Engine. It’s exclusive “Timeline Features” provide the resources to Create, Share and Preserve “Your Sports Legacy“ from Childhood… to Professional and Beyond.
  </description>

  <author href="http://www.kids2prosports.com" email="adnanlatif.324@gmail.com">
    Adnan Latif
  </author>
  <icon src="icon.png" gap:role="default" />
  <!--icons -->
  
        <!-- bb -->
        <icon src="icons/bb/icon.png" gap:platform="blackberry" />
  <!--icons end -->
  
  
  <!--Splash screens -->
  
        <!-- blackberry -->
        <gap:splash src="splash/bb/splash.png" gap:platform="blackberry" />
 
  <!--Splash ends-->


   <preference name="orientation" value="landscape" />
  
</widget>